*, div {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color:#094768;
}
a:visited {
    color:#094768;
}
.container {
    max-width: 1170px;
    position: relative;
    margin:0 auto;
    padding:0px 10px;
}

/* Mobile first */
#navigation {
    height: 50px;
    background:#f1f1f1;
    padding:5px;
    text-align: center;
    position: relative;
}
#navigation .logo {
    max-height: 40px;
    margin:0 auto;
}
#menuBtn {
    position: absolute;
    left: 20px;
    top: 4px;
    font-size: 24px;
    cursor: pointer;
}
#navigation .avatar {
    display: none;
}
.desktop-nav, .hovernav {
    display:none;
}

.simplenav {
    background: #7C97B1;
    position: fixed;
    left: -240px;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: inset 2px 2px 10px 0px rgba(51,51,51,0.17);
}

.simplenav h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.simplenav a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #AAC4DF;
}

.simplenav a:hover {
    background: #258ecd;
}

.simplenav a:active {
    background: #afdefa;
    color: #47a3da;
}

.simplenav.simplenav-open {
    left: 0px;
}

.simplenav-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.simplenav-push-toright {
    left: 240px;
}

.simplenav,
.simplenav-push {
    transition: all 0.3s ease;
}

@media (min-width: 748px){
    #navigation {
        height:60px;
        padding:10px;
    }
    #navigation .logo {
        float:left;
        display: block;
        margin-right: 15px;
    }
    #navigation .avatar {
        float:right;
        display: block;
    }
    #navigation .avatar img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    #menuBtn {
        display:none;
    }
    .desktop-nav {
        display: block;
    }
    .desktop-nav a {
        float: left;
        margin-right: 19px;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        padding: 10px;
    }
    .hovernav.active {
        display: block;
    }

    .hovernav {
        position: absolute;
        right: 15px;
        top: 55px;
        padding:10px;
        text-align: left;
        background: #7C97B1;
    }
    .hovernav a {
        color:white;
        display: block;
        padding:15px 30px;
        border-bottom: 1px solid #f1f2f2;
    }
    .hovernav a:last-child {
        border-bottom: none;
    }
    .hovernav a:hover {
        color:#FCB09A;
    }
    .hovernav .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #7C97B1 transparent;
        position: absolute;
        top: -9px;
        right: 10px;
    }

}